# .dockerignore

# Ignore all node_modules directories at any level
**/node_modules

# Ignore Git history
.git
.gitignore

# Ignore IDE and OS files
.idea
.vscode
*.DS_Store

# Ignore build caches and outputs at the root
.next
.turbo

# Ignore log files
*.log
